:root {
    --bg-white: #ffffff;
    --bg-gray: #f1f2f4;
    --text: #333333;
    --gray: #dcdcdc;
    --white: #ffffff;
    --red: #ff3333;
}

/*------------------------*
 *         Header         *
 *------------------------*/
header {
    display: flex;
    flex-direction: column;

    height: 70px;
    width: 100%;
}

header .navbar {
    flex: 1;

    padding: 19px 25px;

    background: var(--bg-white);
    border-bottom: 2px solid var(--gray);
}

header .navbar .navbar-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .navbar .navbar-icon img {
    height: 32px;
    padding-right: 12px;
}

header .navbar .navbar-icon h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

header .navbar .navbar-icon h1 span {
    color: var(--red);
}

/*------------------------*
 *          Main          *
 *------------------------*/

main {
    display: flex;
    flex-direction: column;

    width: 100%;
}

main section.container {
    width: 100%;
    max-width: 1366px;

    margin: 20px auto auto;
    padding: 50px 120px;
}

main section.container:nth-child(2) {
    margin-top: 0;
}

/*------------------------*
 *       Main Header      *
 *------------------------*/
main .main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: calc(100vh - 70px);
    width: 100%;

    background: url(../assets/images/background-main.png) no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

main .main-header h1,
main .main-header h2 {
    color: var(--white);
    text-align: center;
    text-shadow: var(--text) 2px 2px 3px;
}


main .main-header h1 {
    font-size: 4rem;
    font-weight: 600;
}

main .main-header h2 {
    margin-top: 1rem;

    font-size: 1.6rem;
    font-weight: 500;
}

main .main-header .button-group {
    display: flex;
    justify-content: space-between;

    height: 55px;
    width: 600px;

    margin-top: 2rem;
}

main .main-header .button-group a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 285px;
    padding: 10px;

    text-decoration: none;

    color: var(--red);
    font-weight: 600;

    background: var(--bg-white);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 0px 10px;

    transition: all 0.2s;
}

main .main-header .button-group a i {
    margin-right: 1rem;

    font-size: 1.2rem;
}

main .main-header .button-group a:hover {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.6) 3px 0px 10px;
}

/*------------------------*
 *     Main Category      *
 *------------------------*/

main .category-container title {
    display: flex;

    margin-bottom: 36px;

    color: var(--text);
    font-size: 1.6rem;
    font-weight: 600;
}

main .category-container ul {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);

    list-style: none;
}

main .category-container ul a {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 10px;

    color: var(--text);
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

main .category-container ul a img {
    width: 100%;

    border-radius: 6px;
}


/*------------------------*
 *      Main Bennefits    *
 *------------------------*/
main .benefits-container ul {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    list-style: none;
}

main .benefits-container ul li {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 250px;
    height: 300px;

    padding: 1.5rem;

    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 9px;
}

main .benefits-container ul li i {
    margin-top: -4rem;


    color: var(--red);
    font-size: 4rem;
}

main .benefits-container ul li article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
}

main .benefits-container ul li article h3 {
    color: var(--text);
    font-size: 1.4rem;
    font-weight: 600;
}

main .benefits-container ul li article p {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 500;
}


/*------------------------*
 *         Footer         *
 *------------------------*/

footer {
    display: grid;
    gap: 30px;
    grid-template-columns: auto 1fr 1fr 1fr;

    margin-top: 60px;
    padding: 40px 60px;

    background-color: var(--bg-gray);
    border-top: 2px solid var(--red);
}

footer ul {
    list-style: none;
}

footer ul:before {
    content: attr(aria-label);

    font-size: 1.25rem;
    font-weight: 600;
}

footer ul li {
    margin-top: 20px;
}

footer ul li a {
    text-decoration: none;

    color: var(--text);

    transition: all 0.2s;
}

footer ul li a:hover {
    color: var(--red);
}


footer ul .social-list {
    display: flex;
    justify-content: space-between;
}

footer ul .social-list a {
    font-size: 2.5rem;
}